@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--main-theme);
}

:root {
  --black-theme: #111;
  --gray-theme: #888;
  --lightgray-theme: #d1d1d1;
  --super-lightgray-theme: #f0f5f5;
  --white-theme: #faffff;
  --red-theme: #ff5011;
  --orange-theme: #ffb730;
  --yellow-theme: #ffe600;
  --lightgreen-theme: #90ee90;
  --lightblue-theme: #2cffff;
  --super-lightblue-theme: #dce8ff;
  --snow-theme: #b8d1ff;
  --blue-theme: #8888ff;
  --pink-theme: #ffa8dc;
  --transparent-theme: #0000;
  --modal-theme: rgba(0, 0, 0, 0.6);
  --background-theme: #3d81b9;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--background-theme);
}

ul {
  list-style: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dialog-error {
  margin: 30rem auto;
  width: 44rem;
  height: 28rem;
  background-color: var(--super-lightblue-theme);
  border: none;
}

.dialog-error::backdrop {
  background-color: var(--modal-theme);
}

.dialog-error form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  margin: 8rem 0;
  font-size: 2.4rem;
}

.back-btn {

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 48rem;
  height: 90%;
  padding: 8rem 0;
  background-color: var(--black-theme);
}

h1 {
  font-size: 3.2rem;
  color: var(--white-theme);
}

.search-section {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

#location-input {
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  border-radius: 0.4rem;
}

.search-btn,
.switch-btn,
.back-btn {
  padding: 0.6rem 1.8rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  background-color: var(--super-lightgray-theme);
}

h2 {
  font-size: 2.8rem;
  color: var(--white-theme);
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.2rem;
  width: 44rem;
  height: 26rem;
  background-color: var(--super-lightgray-theme);
  border-radius: 0.8rem;
}

.one-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: 20rem;
  margin: 0.8rem 0;
  padding: 1.2rem;
  background-color: var(--white-theme);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--gray-theme);
}

.one-day-date {
  font-size: 2rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  margin: 1.2rem 0 0.8rem;
  background-color: var(--white-theme);
}

.first-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  fill: var(--white-theme);
  border-radius: 0.4rem;
}

.first-icon svg,
.second-icon svg {
  aspect-ratio: 4 / 3;
}

.second-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  fill: var(--white-theme);
  border-radius: 0.4rem;
}

.clear {
  background-color: var(--orange-theme);
}

.partially-cloudy {
  background-image: linear-gradient(-30deg, var(--lightgray-theme) 53%, var(--orange-theme) 0);
}

.overcast {
  background-color: var(--lightgray-theme);
}

.rain {
  background-color: var(--blue-theme);
}

.snow {
  background-color: var(--snow-theme);
}

.one-day-conditions {
  font-size: 1.8rem;
}

.one-day-temp-max {
  font-size: 1.8rem;
  color: var(--red-theme);
}

.one-day-temp-min {
  font-size: 1.8rem;
  color: var(--blue-theme);
}

.one-day-precip-prob {
  font-size: 1.8rem;
}

.fifteen-days-heading {
  padding-top: 0.8rem;
  background-color: var(--super-lightblue-theme);
  border-radius: 0.8rem 0 0 0.8rem;
}

.fifteen-days-heading li {
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid var(--lightgray-theme);
}

.fifteen-days-heading li:nth-child(2) {
  padding: 1.6rem 0.8rem 1.6rem 1.2rem;
}

.fifteen-days-heading li:last-child,
.fifteen-days-item li:last-child {
  border-bottom: none;
}

.fifteen-days-container {
  display: flex;
  gap: 0.8rem;
  height: 25.72rem;
  padding-top: 0.8rem;
  border-radius: 0.8rem;
  overflow: auto;
}

.fifteen-days-item {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.fifteen-days-item li {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  width: 6.2rem;
  padding: 0.8rem 0.4rem;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid var(--lightgray-theme);
}

.fifteen-days-container li:nth-child(2) {
  padding: 1.6rem 0;
}

.fifteen-days-icon {
  display: flex;
  justify-content: center;
}

.fifteen-days-icon svg {
  width: 3rem;
}

.fifteen-days-temp-max,
.fifteen-days-temp-min,
.fifteen-days-precip {
  display: flex;
  align-items: flex-end;
}

.fifteen-days-temp-max {
  color: var(--red-theme);
}

.fifteen-days-temp-min {
  color: var(--blue-theme);
}

.hourly-heading {
  padding-top: 0.8rem;
  background-color: var(--super-lightblue-theme);
  border-radius: 0.8rem 0 0 0.8rem;
}

.hourly-heading li {
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid var(--lightgray-theme);
}

.hourly-heading li:nth-child(3) {
  padding: 1.6rem 0.8rem 1.6rem 1.2rem;
}

.hourly-heading li:last-child,
.hourly-item li:last-child {
  border-bottom: none;
}

.hourly-container {
  display: flex;
  gap: 0.4rem;
  height: 25.72rem;
  padding-top: 0.8rem;
  border-radius: 0.8rem;
  overflow: auto;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.border-line {
  border-left: 0.1rem solid var(--lightgray-theme);
}

.hourly-item li {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  width: 6.2rem;
  padding: 0.8rem 0.4rem;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid var(--lightgray-theme);
}

.hidden-date {
  visibility: hidden;
}

.hourly-item li:nth-child(3) {
  padding: 1.6rem 0;
}

.hourly-icon {
  display: flex;
  justify-content: center;
}

.hourly-icon svg {
  width: 3rem;
}

.unit {
  font-size: 1.4rem;
}

.hourly-temp,
.hourly-precip {
  display: flex;
  align-items: flex-end;
}

.switch-section {
  display: flex;
  gap: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48rem;
  height: 10%;
  padding: 2rem 0;
  background-color: var(--black-theme);
}

.admin-link {
  font-size: 1.4rem;
  color: var(--white-theme);
  text-decoration: none;
}

.admin-link:hover {
  text-decoration: underline;
}
